.header-container{
    height: 500px;
    color: aliceblue;
}

.landing-header-bg{
  background-image: url("../../images/stockholm1.jpg");
  filter: blur(.11rem) brightness(0.7);
  -webkit-filter: blur(0.11rem) brightness(0.7);
  height: 100%;
  float: none;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(0% 0% ,100% 0% ,100% 90%,0% 100%);
}

.fixed-header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  position: fixed;
  top:3.5%;
  left: 50%;
  width:94%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  padding-bottom:1% ;
  padding-top: 5%;
  padding-inline: 3%;
}

.nav-bg{
  background-color: rgba(4, 10, 20, 0.9);
}

.menu-items-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width:40%;
}

.menu-item {
    margin-left:5%;
    text-decoration:none;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 8px;
}

.menu-item:hover{
  transform: scale(1.1,1.1);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.hire-btn{
  background-color: rgba(123,125,176,0.7);
  border: solid 2px rgb(100, 100, 144);
  border-radius: 25px;
  height: 20px;
  width: 35%;
  font-size: 8px;
  padding-top: 10px;
}

.hire-btn:hover{
  background-color: #5a82c2
}

.menu-logo{
    height:40px;
}

.spira-heading{
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid #f1f1f1;
    font-family:serif ;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 1%;
    padding-bottom:2.5% ;
  }
  
  .large-heading{
    font-size: 580%;
    font-weight: bold;
  }
  
  .small-heading{
    font-size: 75%;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
  }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .header-container{
    height: 700px;
    color: aliceblue;
  }
  .col-0 {width: 4%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .large-heading{
    font-size: 600%;
    font-weight: bold;
  }
  
  .small-heading{
    font-size: 100%;
    font-weight: normal;
  }

  .menu-items-holder{
    width:30%;
  }

  .menu-item {
    margin-left: 5%;
    font-size: 10px;
  }

  .hire-btn{
    border-radius: 25px;
    font-size: 10px;
    height: 22px;
  }

  .menu-logo{
    height:40px;
    width: 40px;
  }

  .spira-heading{
    top: 40%;
    left: 50%;
  }

}

@media only screen and (min-width: 850px) {
  /* For desktop: */
  .header-container{
    height: 800px;
    color: aliceblue;
  }
  .col-0 {width: 4%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .fixed-header{
    top:4%;
  }

  .large-heading{
    font-size: 900%;
    font-weight: bold;
  }
  
  .small-heading{
    font-size: 150%;
    font-weight: normal;
  }

  .menu-items-holder{
    width:30%;
  }

  .menu-item {
    margin-left:5%;
    font-size: 16px;
  }

  .hire-btn{
    border-radius: 25px;
    font-size: 16px;
    height:40px;
  }

  .menu-logo{
    width: 60px;
    height:60px;
  }

  .spira-heading{
   
    position: absolute;
    top: 45%;
    left: 50%;
    
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0054e6, 0 0 40px #0054e6, 0 0 50px #0054e6, 0 0 60px #0054e6, 0 0 70px #0054e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6b4dff, 0 0 40px #6b4dff, 0 0 50px #6b4dff, 0 0 60px #6b4dff, 0 0 70px #6b4dff, 0 0 80px #6b4dff;
  }
}