.input-holder{
    margin-block: 1%;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    width: 100%;
}

.label-text{
    margin: 0;
    margin-left: 5%;
    padding: 5px;
}

.psd-label-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 110%;
}

.toggle-psd{
    font-size: 6px;
    color: grey;
    position: relative;
    right:40px;
}

.psd-form-inputs{
    width: 80%;
    padding: 2% 5%;
    margin: 2% 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 8px;
}

@media only screen and (min-width: 650px) {
    /* For desktop: */

    .input-holder{
        height: 80px;
    }

    .psd-form-inputs{
        font-size: 12px;
        height: 26px;
    }

    .toggle-psd{
        font-size: 10px;
        right: 60px;
    }
}

@media only screen and (min-width: 850px) {
    /* For desktop: */

    .input-holder{
        height: 80px;
    }

    .psd-form-inputs{
        font-size: 16px;
        height: 40px;
    }

    .toggle-psd{
        font-size: 12px;
        right: 65px;
    }
}