.recent-settings-holder{
    width: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.recent-settings-title{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.recent-success-msg{
    font-size: 8px;
    color:greenyellow;
    text-align: center;
    width:auto;
  }


@media only screen and (min-width: 850px) {
    /* For desktop: */
    .recent-settings-form{
        font-size: 16px;
    }

    .recent-settings-title{
        font-size: 24px;
    }

    .recent-success-msg{
        font-size: 16px;
    }

  }