.admin-page{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-body{
    width: 75%;
    margin-left: 25%;
    margin-top: 80px;
    min-height: 100%;
    background-color: rgb(227, 242, 242);
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .admin-body{
        width: 80%;
        margin-left: 20%;
    }
          
}
  
@media only screen and (min-width: 850px) {
    /* For desktop: */
     .admin-body{
        width: 80%;
        margin-left: 20%;
    }
    

}