.hire-form-container{
  height: 800px;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("../images/stockholm2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15% 5% ;
}
input[type=text], select, textarea,input[type=email], input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form-container {
    border-radius: 5px;
    background-color: #f0eeee;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    width: 50%;

  }
 