.motto-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 330px;
}

.motto-bg-wrapper{
    filter: drop-shadow( 0px 10px 5px #888888);
    min-height: 50%;
    width: 100%;
}

.motto-bg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    float: none;
    z-index: -1;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0% 0% ,100% 0% ,100% 100%,0% 90%);
    
}

.quote-container{
    text-align: left;
    color: #061020;
    width: 35%;
    min-height: 100%;
    padding: 5%;
    padding-left: 10%;
    z-index: 2;
   
}

.quote{
    font-size: 105%;
    font-family: Times;
    font-weight: bold;
   
}

.quote-logo{
    width: 40%;
    padding: 5%;
    vertical-align: middle;
}

.description-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 50%;
}

.description{
    font-size: 9px;
    font-family:serif;
    font-style: normal;
    color: rgb(73, 73, 73);
}

.desc-container{
    text-align: left;
    color: #061020;
    width: 50%;
    min-height: 100%;
    padding-top: 5%;
    z-index: 2;
}

.description-logo{
    width: 35%;
    min-height: 100%;
    padding-top: 10%;
    padding-left: 5%;
    vertical-align: middle;
}


#illust1{
    width: 100%;
}

#illust2{
    width: 80%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .motto-section{
        min-height: 400px;
    }
    
    .motto-bg-wrapper{
        min-height: 50%;
        width: 100%;
    }
    .description-wrapper{
        min-height: 50%;
    }


    .quote-logo{
        width: 30%;
    }

    .quote{
        font-size: 24px;
    } 

    .description-logo{
        padding-top: 5%;
    }

    .description{
        font-size: 10px;
    }

    
    #illust2{
        width: 60%;
    }
          
}
  
@media only screen and (min-width: 850px) {
    /* For desktop: */
    
    .motto-section{
        min-height: 1100px;
    }

    .motto-bg{
        width: 100%;
    }
    .quote{
        font-size: 400%;
    }

    .description-wrapper{
        min-height: 50%;
    }

    .motto-bg-wrapper{
        min-height: 50%;
    }

    .description{
        font-size: 220%;
    }

    .desc-container{
        padding-top: 10%;
    }

}