.dashboard-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.dashboard-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-block: 3%;
}

.dashboard-intro{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 8px;
    margin-bottom: 2%;
    margin-inline:5%;
    width: 90%;
}

.table-holder{
    overflow-x: auto;
    width: 100%;
}

.request-table{
    border-radius: 12px;
    width:96%;
    margin-inline: 2%;
    font-size: 8px;
    border-collapse: collapse;
    margin-bottom: 10%;
}

.request-table th{
    width:8%;
    height: 40px;
    background-color: #061020;
    color: aliceblue;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.request-table td{
    text-align: center;
    width:8%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    min-height: 20px;
    overflow-x: auto;
}

.request-table td:nth-child(8){
    width:14%;
}

.request-table td:nth-child(1){
    width:5%;
}

.request-table th:nth-child(1){
    width:5%;
}


.request-table tbody{
    background-color: #e7e6e6;
    height: 20px;
} 

.request-table tbody:nth-child(even){background-color: #f2f2f2;}

.request-table tr:hover {background-color: #c7daf9;}

.new{
    background-color: rgba(173, 255, 47,.7);
    color: red;
}

.seen{
    background-color: rgba(128, 128, 128,.7);
}

.table-btn, .table-btn2{
    width:40px !important;
    height: 20px !important;
    font-size: 4px !important;
    border-radius: 20px;
    border-collapse: collapse;
    border: 0px;
    background-color: #123163 !important;
    color: aliceblue;
}

.table-btn:hover{
    background-color: yellowgreen !important;
}

.table-btn2:hover{
    background-color: grey !important;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .dashboard-title{
        font-size: 26px;
        font-weight: bold;
    }
    
    .dashboard-intro{
        font-size: 14px;
        margin-bottom: 2%;
    }

    .request-table{
        font-size: 12px;
    }

    .table-btn, .table-btn2{
        font-size: 8px !important;
    }

}
  
@media only screen and (min-width: 850px) {
    /* For desktop: */
    .dashboard-title{
        font-size: 28px;
        font-weight: bold;
    }
    
    .dashboard-intro{
        font-size: 16px;
        margin-bottom: 2%;
    }

    .request-table{
        font-size: 14px;
    }

    .table-btn, .table-btn2{
        width:80px !important;
        height: 40px !important;
        margin-inline: 10% !important;
        font-size: 10px !important;
    }

}