.error-msg{
    font-size: 6px;
    min-width: 15px;
    border-radius: 8px;
    margin: 0;
    margin-left: 2%;
    padding: 6px;
    background-color: rgb(235, 181, 181);
    color: red;
}

@media only screen and (min-width: 850px) {
/* For desktop: */
    .error-msg{
    font-size: 9px;
    }

}