.team-container{
    min-height: 600px;
    width:90%;
    padding: 5%;
    background-color: #061020;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.team-container a{
    color: aliceblue;
}

.team-container a:hover{
    text-shadow: 1px 2px 8px #fff;
}

.team-header{
    font-size: 20px;
    text-align: center;
}

.team-desc{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.team-cards-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.member-card{
    display: flex;
    flex-direction: column;
    min-height:160px;
    width:40%;
    border-radius: 20px;
    margin:5%;
    padding-bottom: 3%;
    background-color: #AFB1B4;
    color: #061020;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(255, 255, 255, .5);
}

.member-card:hover{
    transform: scale(1.04,1.04);
}

.member-profile-holder{
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 10%;
    margin-top: 20%;
    object-fit:contain;
    overflow: hidden;
}

.member-profile{
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;   
    object-fit: cover; 
}

.member-name{
    font-family: serif;
    margin-bottom: 5%;
}

.member-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    /* For tablet: */
      
    .team-header{
        font-size: 20px;
    }
    
    .team-desc{
        font-size: 10px;
    }
      
    .member-card{
        min-height:290px;
        width:40%;
        border-radius: 20px;
        font-size: 15px;
    }
    
    .member-profile-holder{
        width: 140px;
        height: 140px;
        margin-top: 0;
    }
  
}

@media only screen and (min-width: 850px) {
    /* For desktop: */
      
    .team-header{
        font-size: 40px;
    }
    
    .team-desc{
        font-size: 24px;
    }
      
    .member-card{
        min-height:480px;
        width:30%;
        border-radius: 40px;
        font-size: 20px;
    }
    
    .member-profile-holder{
        width: 200px;
        height: 200px;
        margin-top: 0;
    }
  
}